.content {
    font-size: 1rem;
    font-family: "Open Sans";
    font-weight: normal;
    line-height: 1.55;
}

 /* Media Query */
 @media screen and (max-width: 576px) {
    .content {
        font-size: .8rem;
    }
}