.slider {
    max-width: 1920px;
    margin: 0 auto;
}

.slider__item {
    position: relative;
    height: 100vh;
    min-height: 750px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 1;
}

.slider__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .15;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
}

.slider__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    z-index: 0;
    transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -ms-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
}

.slider__item:hover::before {
    opacity: .35;
    transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -ms-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
}

.slider__item p {
    font-size: 1rem;
    font-family: "Open Sans";
    margin: 1.8rem auto;
    font-weight: 300;
    color: #f2f2f2;
}

.slider__content {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: 60px;
    text-align: center;
}

.slider__btn {
    margin: 0 auto;
    margin-top: 50px;
}

/* Media Query */
@media screen and (min-width: 2560px) {
    .slider__item {
        height: 680px;
    }
    .slider__content {
        margin-top: 300px;
    }
}
@media screen and (max-width: 1024px) {
    .slider__item {
        min-height: 550px;
    }
    .slider__item h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .slider__content {
        margin-top: 260px;
    }
    .slider__item h1 {
        font-size: 3.5rem;
    }
    .slider__item p {
        font-size: 1rem;
        max-width: 70%;
    }
    .slider__btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .slider__item h1 {
        font-size: 2rem;
        line-height: 1.3;
    }
    .slider__item p {
        font-size: .8rem;
        max-width: 100%;
    }
}