.phone {
    display: flex;
    margin-right: 30px;
    position: relative;
    top: -5px;
}

.phone__icon {
    margin-right: 1rem;
}

.phone:hover .phone__icon {
    animation: swing 1.5s;
    -webkit-animation: swing 1.5s;
}

.phone__icon path {
    fill: #ffc800;
}

.phone__title {
    font-size: .7rem;
    color: #cbcbcb;
}

.phone__number {
    padding-top: 3px;
    font-size: 1.2rem;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 0.01em;
    color: white;
}

@media screen and (max-width: 992px) {
    .phone {
        display: none;
    }
}